<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div id="inam" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						 <div class="container">
						 	<div class="row carousel">
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 200px; height: 300px; margin: auto;">
						 				<img src="/src/assets/3min.JPG" class="card-img-top">
						 			</div>
                 </div>

						 		<div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 200px; height: 300px; margin: auto;">
                    <img src="/src/assets/slide2.JPG" class="card-img-top">
                    <div class="card-body">
                      <button type="button" class="btn btn-warning">Read More</button>
                    </div>
                  </div>
                 </div>

						 		<div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 200px; height: 300px; margin: auto;">
                    <img src="/src/assets/slide2.JPG" class="card-img-top">
                    <div class="card-body">
                      <button type="button" class="btn btn-warning">Read More</button>
                    </div>
                  </div>
						 		</div>

						 	</div>

						 </div>


					</div>
					<div class="carousel-item">
						 <div class="container">
						 	<div class="row">
						 		<div class="col-sm-12 col-lg-3">
                  <div class="card" style="width: 200px; height: 300px; margin: auto;">
                    <img src="/src/assets/preservatives.JPG" class="card-img-top">
                    <div class="card-body">
                      <button type="button" class="btn btn-warning">Read More</button>
                    </div>
                  </div>
                 </div>

						 		<div class="col-sm-12 col-lg-3">
                  <div class="card" style="width: 200px; height: 300px; margin: auto;">
                    <img src="/src/assets/slide2.JPG" class="card-img-top">
                    <div class="card-body">
                      <button type="button" class="btn btn-warning">Read More</button>
                    </div>
                  </div>
                 </div>

                 <div class="col-sm-12 col-lg-3">
                  <div class="card" style="width: 200px; height: 300px; margin: auto;">
                    <img src="/src/assets/slide2.JPG" class="card-img-top">
                    <div class="card-body">
                      <button type="button" class="btn btn-warning">Read More</button>
                    </div>
                  </div>
						 		</div>

						 	</div>

						 </div>


					</div>

				</div>
				<a href="#inam" class="carousel-control-prev" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a href="#inam" class="carousel-control-next" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>

			</div>

		</div>

	</div>

</div>
