<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div id="inam" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						 <div class="container">
						 	<div class="row carousel">
						 		<div class="col-sm-12 col-lg-4 ">
						 			<div class="card card1" style="width: 200px; height: 300px; margin: auto;">
                    <img src="../assets/vegRole.jpg" class="card-img-top card" alt="">
                    <div class="bottom">
                      <p>Peppy tomato<br>Vegetable Roll</p>
                      <div style="clear: both;">
                        <p class="cookingtime"> <i class="fas fa-concierge-bell"></i> 5 <i class="fas fa-stopwatch"></i> 10 min</p>
                      </div>
                    </div>
                     <div class="ButtonOnImage"></div>
						 			</div>
                 </div>

						 		<div class="col-sm-12 col-lg-4">
                  <div class="card card1" style="width: 200px; height: 300px; margin: auto;">
                    <img src="../assets/khichdi.jpg" class="card-img-top card" alt="">
                    <div class="bottom2">
                      <p>Spinach Oats Khichdi</p>
                      <div style="clear: both;">
                        <p class="cookingtime"> <i class="fas fa-concierge-bell"></i> 5 <i class="fas fa-stopwatch"></i> 10 min</p>
                      </div>
                    </div>
                     <div class="ButtonOnImage"></div>
						 			</div>
                 </div>

						 		<div class="col-sm-12 col-lg-4">
                  <div class="card card1" style="width: 200px; height: 300px; margin: auto;">
                    <img src="../assets/utappam.jpg" class="card-img-top card" alt="">
                    <div class="bottom2">
                      <p>Oats Utappam</p>
                      <div style="clear: both;">
                        <p class="cookingtime"> <i class="fas fa-concierge-bell"></i> 5 <i class="fas fa-stopwatch"></i> 10 min</p>
                      </div>
                    </div>
                     <div class="ButtonOnImage"></div>
						 			</div>
						 		</div>

						 	</div>

						 </div>


					</div>
					<div class="carousel-item">
						 <div class="container">
						 	<div class="row">
						 		<div class="col-sm-12 col-lg-3">
                  <div class="card" style="width: 200px; height: 300px; margin: auto;">
                    <img src="/src/assets/vegRole.jpg" class="card-img-top">
                    <div class="ButtonOnImage"></div>
                  </div>
                 </div>

						 		<div class="col-sm-12 col-lg-3">
                  <div class="card" style="width: 200px; height: 300px; margin: auto;">
                    <img src="/src/assets/vegRole.jpg" class="card-img-top">
                    <div class="ButtonOnImage"></div>
                  </div>
                 </div>

                 <div class="col-sm-12 col-lg-3">
                  <div class="card" style="width: 200px; height: 300px; margin: auto;">
                    <img src="/src/assets/vegRole.jpg" class="card-img-top">
                    <div class="ButtonOnImage"></div>
                  </div>
						 		</div>

						 	</div>

						 </div>


					</div>

				</div>
				<a href="#inam" class="carousel-control-prev" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a href="#inam" class="carousel-control-next" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>

			</div>

		</div>

	</div>

</div>
