.carousel {
  margin-left: 3rem;
  margin-right: 2rem;
}

.ButtonOnImage {
  border-radius: 10px 0px 10px 0px;
  background-color: red;
  width: 2.5rem;
  height: 3rem;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.card {
  border-radius: 10px 10px 10px 10px;
}
