<!-- Navbar  -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
  <div class="container">

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="mx-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Preparation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Recepies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Testinomals</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
