<div class="container">
  <div class="row" style="height: 800px;">
    <ngb-carousel class="col-12 modal hide">
      <ng-template ngbSlide>
        <div >
          <div class="row color" >
            <div class="col-6">
              <img  class="imageSlide1" alt="">
            </div>
            <div class="col-6 division2">
              <app-navbar></app-navbar>
              <p class="text"> lip-smacking flavors to </p>
              <p class="snack">snack healthy</p>
              <p class="oats">with wholegrain oats + real veggies</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="color">
          <div class="row">
            <div class="col-6">
              <img src="https://i.ytimg.com/vi/LMHBJCCaRmk/hqdefault.jpg" alt="">
            </div>
            <div class="col-6 division2">
              <app-navbar></app-navbar>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="color">
          <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6 division2">
              <app-navbar></app-navbar>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

 <div class="row slide2 slide2Zigzag" style="height: 800px;">
  <div class="row" style="height: 500px;">
    <div class="col-6 classicMasala">
      <img src="../assets/slide2.JPG" width="400px" height="400px">
    </div>
    <div class="col-6">
      <h1 class="slide2header">Classic Masala</h1>
      <p class="slide2para">
        Your favorite mix desi spices now in a chatpata snack!<br>
        Enjoy a bowl of mouth-watering Classic Masala flavour<br>
        for that classic taste in delightful Saffola masala Oats!
      </p>

    </div>
  </div>
  <div class="row" style="height: 300px;">




    <ngb-carousel [activeId]="1" class="slide2carousel">
      <ng-template ngbSlide>
        <div class="row">
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <img src="../assets/slide2sub3.JPG" alt="" height="80px" width="90px">
                    </div>
                    <div class="col cardDesc">
                      <p class="slide2p">Classic Oats</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <img src="../assets/slide2sub2.JPG" alt="" height="80px" width="90px">
                  </div>
                  <div class="col cardDesc">
                    <p class="slide2p">Masala Oats</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <img src="../assets/slide2sub3.JPG" alt="" height="80px" width="90px">
                  </div>
                  <div class="col cardDesc">
                    <p class="slide2p">High Fiber Oats</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </ng-template>

      <ng-template ngbSlide>
        <div class="row">
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <img src="../assets/slide2sub4.JPG" alt="" height="80px" width="90px" style="margin-bottom: 2rem;">
                  </div>
                  <div class="col cardDesc">
                    <p class="slide2p">Oats</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <img src="../assets/slide2sub2.JPG" alt="" height="80px" width="90px">
                  </div>
                  <div class="col cardDesc">
                    <p class="slide2p">Classic Oats</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </ng-template>
    </ngb-carousel>



  <!-- <ngb-carousel class="col-12">
    <ng-template ngbSlide>
      <div >
        <div class="row color" >
          <div class="col-3">
            <h5>Classic</h5>
          </div>
          <div class="col-3">
            <h5>Classic</h5>
          </div>
          <div class="col-3">
            <h5>Classic</h5>
          </div>
          <div class="col-3">
            <h5>Classic</h5>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div >
        <div class="row color" >
          <div class="col-3">
            <h5>Classic</h5>
          </div>
          <div class="col-3">
            <h5>Classic</h5>
          </div>
          <div class="col-3">
            <h5>Classic</h5>
          </div>
          <div class="col-3">
            <h5>Classic</h5>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel> -->

  </div>
 </div>

  <div class="row" style="height: 600px">
    <div class="col-7 slide3">
      <h1 class="mb-5"> Delicious and healthy too!</h1>
      <div class="row features">
        <div class="col-4" *ngFor="let data of data">
          <div class="logo">
            <img [src]="data.src" alt="">
            <p class="p1">{{data.name}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10, para">
          <p>*Vegetables are dehydrated to maintain its goodness and taste.<br>
          **Oats have beta-glucan fiber that keeps you fuller for longer.<br>
          ***Study dated 31/08/17 based on declared nutrient information of instant noodles vs Safola Masala Oats.</p>
        </div>
      </div>
    </div>
    <div class="col-5">
      <img src="../assets/Slide3.JPG"  width="550px" height="620px">
    </div>
  </div>



  <div class="row slide4 slide4Zigzag" style="height: 600px">
    <h1 class="mb-5"> Easy to Cook Easy to serve!</h1>
    <div class="row steps">
      <div class="col-3" *ngFor="let step of steps">
        <div class="logo">
          <img [src]="step.src" alt="">
          <p class="p2">{{step.desc}}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row slide5 zigzag" style="background-color: #f7e603; height: 700px">
    <div class="row" style="height: 150px;">
      <h2 class="slide5Header">Streaming Yummy recipies with Oats</h2>
    </div>
    <div class="row" style="height: 20px;">
      <nav class="nav topnav">
        <a  class="nav-item" >Indian</a>
        <a  class="nav-item" >Italian</a>
        <a  class="nav-item" >Continental</a>
        <a  class="nav-item" >More</a>
      </nav>
    </div>
    <div class="row" style="height: 300px;">
     <app-carousel></app-carousel>
    </div>
  </div>


  <div class="row slide4 zigzagTop" style="background-color: red; height: 700px">
    <div class="row">
      <div class="col" style="clear: both;">
        <h2 class="slide6Header" style="float: left; color: white; margin-left: 10rem;"> Follow us  </h2>
        <h2 class="slide6Header" style="float: left; color: rgb(255, 188, 19); margin-left: 1rem;">@safolafitfoodie</h2>
        <div style="float: right; margin-right: 3rem; margin-top: 4rem;">
          <i style="margin-right: 2rem;" class="fab fa-facebook-f socialmedia"></i>
          <i style="margin-right: 2rem;" class="fab fa-instagram socialmedia"></i>
          <i style="margin-right: 2rem;" class="fab fa-youtube socialmedia"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <ngb-carousel [activeId]="1" class="slide2carousel">
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <img src="../assets/slide2sub3.JPG" alt="" height="80px" width="90px">
                      </div>
                      <div class="col cardDesc">
                        <p class="slide2p">Classic Oats</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <img src="../assets/slide2sub2.JPG" alt="" height="80px" width="90px">
                    </div>
                    <div class="col cardDesc">
                      <p class="slide2p">Masala Oats</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <img src="../assets/slide2sub3.JPG" alt="" height="80px" width="90px">
                    </div>
                    <div class="col cardDesc">
                      <p class="slide2p">High Fiber Oats</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </ng-template>

        <ng-template ngbSlide>
          <div class="row">
            <div class="col-3">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <img src="../assets/slide2sub4.JPG" alt="" height="80px" width="90px" style="margin-bottom: 2rem;">
                    </div>
                    <div class="col cardDesc">
                      <p class="slide2p">Oats</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <img src="../assets/slide2sub2.JPG" alt="" height="80px" width="90px">
                    </div>
                    <div class="col cardDesc">
                      <p class="slide2p">Classic Oats</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </ng-template>
      </ngb-carousel>
    </div>
    <div class="row">
      <div class="col" style="clear: both;">
        <div style="float: left;margin-left: 10rem; margin-top: 4rem; clear: both; color: thistle;">
          <h5><i class="far fa-envelope" style="margin-right: 1rem;"></i>css@marico.com <i class="fas fa-phone-alt" style="margin-left: 3rem; margin-right: 1rem;"></i>1800-2345-6789</h5>
        </div>
        <div style="float: right; margin-right: 3rem;  margin-top: 4rem;">
          <p style="color: thistle;"><a class="anchorTag" href="#">Terms & conditions</a> |
            <a class="anchorTag" href="#">Private Policy</a>  | <i class="far fa-copyright"></i> 2021 Safola. All rights Reserved</p>
        </div>
      </div>
    </div>

  </div>

</div>
